@import '../../../styles/common/mixins';

.learn-page {
  &__learn-hero {
    padding-bottom: 85px;
    &__content {
      .learn-description {
        max-width: 509px;

        @include mobile(750px) {
          text-align: left;
          margin-left: 0;
        }
      }
    }
  }

  &__learn-videos {
    margin-top: -85px;
    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 33px;    
      margin: 0 auto;

      @include mobile(986px) {
        max-width: 500px;
        grid-template-columns: 1fr;
      }
    }
  }
}
